<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  <title>中国益达酒业</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="__ROOT__/static/css/style.css" rel="stylesheet" />
  <script src="https://use.fontawesome.com/2a8388a4fd.js"></script>
</head>

<body>
  <div id="app">
    <!--幻灯片-->
    <div class="info-header">
      <img src="https://liquor.ccic.pro/static/img/1.jpg">
    </div>

    <div class="container">
        <div class="info-title">{$info.title}</div>
    </div>
    <!--幻灯片-->
  </div>
</body>


</html>